.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.card-detail{
  width:200px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0 0 0 / 10%);
  text-align: center;
  border: 1px solid rgb(230 230 230);
  padding: 20px;
}
.card-detail img{
  width: 150px;
}

.card-trip p{
  opacity: .7;
  height: 64px;
}
